<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

  <div class="starter-template">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      관리자
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
      사용자
    </div>
    <div sec:authorize="isAuthenticated()">
      <form method="post" th:action="@{/logout}">
        <input type="submit" value="Sign Out"/>
      </form>
    </div>

  </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>