<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{welcome.title}"></title>
  <div th:replace="fragments/header :: header-css"/>
  <link media='screen' rel='stylesheet' href="/css/sytle.css">
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

  <div class="starter-template">
    <h1>Index</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      ROLE_ADMIN
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
      ROLE_USER
    </div>
    <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
  </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>